{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 50",
            "FireFox >= 30",
            "Safari >= 7",
            "Explorer >= 10",
            "last 4 Edge versions"
          ]
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator",
  ]
}
