services:
  dynamodb-local:
    container_name: tactics-dynamodb
    image: amazon/dynamodb-local
    expose:
      - '8000'
    volumes:
      - ./src/data/ddb:/home/dynamodblocal/data
    working_dir: '/home/dynamodblocal'
    command: '-jar DynamoDBLocal.jar -sharedDb -dbPath ./data'
  app:
    image: node:22-alpine
    #build:
    #  dockerfile: Dockerfile
    #  context: .
    container_name: tactics-app
    ports:
      - '${LOCAL_PORT}:${LOCAL_PORT}'
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      NODE_ENV: ${NODE_ENV-development}
      DEBUG: ${DEBUG-server:*,service:*}
      PUBLIC_KEY: ${PUBLIC_KEY------BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDAUYOF/zClTwuGwgowY6cNCp8Q\nVhxXgXOYpRF6e9HwfGbJvh+aEyOkAIX4M7nVF/QcZ5WFVheftnDthzFRyLs4Oaqk\n+clDoZPLGluHwZSZinNKdyemVfahwDhcuyCYNbK3arC9rvYBeDzblCpqXo/FNIeK\nbwyq/WBVQO4W02opCQIDAQAB\n-----END PUBLIC KEY-----\n}
      PRIVATE_KEY: ${PRIVATE_KEY------BEGIN PRIVATE KEY-----\nMIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMBRg4X/MKVPC4bC\nCjBjpw0KnxBWHFeBc5ilEXp70fB8Zsm+H5oTI6QAhfgzudUX9BxnlYVWF5+2cO2H\nMVHIuzg5qqT5yUOhk8saW4fBlJmKc0p3J6ZV9qHAOFy7IJg1srdqsL2u9gF4PNuU\nKmpej8U0h4pvDKr9YFVA7hbTaikJAgMBAAECgYA6d42YqyBK4WELsuoOE/2xRU1e\nVg9/uuc9vNE3f3Uvu2I0awyIdtEbBt2zu2X/lqysBgG665V7BKgITlV8G55uzdHv\nJ6Y4SMgsKIyDN9xTqwBPsmK2yC3GR3xzsUtyu1QmGtY2WUcy2jhlOS6znlAE8XPU\n8/ReR3ZjVhww/gU/UQJBAPZemTOETpmUg4Bpn0WHiM3iYJ+tQMsBOWNKNBmaVu4b\n+jPQCOsoHblDfGTSnfr7nm9xPKWjLYE5RcA8p4o8qSMCQQDH1gekfCgUYKllt/0W\n3ApSIG0E7pYgJuvQ5PgxswUciLCVizhyOFPfT7kbP5S2/3lyLTH8EiQPL5uMatQ/\ny4XjAkAiqA3+/DaeThDtiG4aNsWcyKJ088cwh1yORgrsKxTda9wXW8VVZxA/Vmny\nONp2StzvqkswtbKaAfd44k9jF8NnAkBss4bKuWKP2xiqJQ/9nEnc7JiAw0tUR/ek\nVLiRSEDyiYQMhIN61hsBcPtO0CIT/RnRurXi2PdWb14cXov/+7RjAkEA6CJ/5+cx\nH7I+cwZGmQZHMgdeuXJwi26zVFz2L7xj9/QFj0NVRCq1h6lZJ0qQ8icUy8ND14wj\nKO4XxsNXsAWCLA==\n-----END PRIVATE KEY-----\n}
      PN_SUBJECT: ${PN_SUBJECT-https://github.com/pongstylin/tactics}
      PN_PUBLIC_KEY: ${PN_PUBLIC_KEY-BH7cjr38ZpkDQT3ro4KQQG3XT5l4jgNnM5wTyHoyzPrqvYBs7ktDNtFxTAXuMijgq-6FllnknJleHJU44GTbOn8}
      PN_PRIVATE_KEY: ${PN_PRIVATE_KEY-hyX_mr58nYs2d7ZR5ZEtUPWPIN85kL9e2bEy3cbi8z0}
      LOCAL_SECURE: ${LOCAL_SECURE-false}
      LOCAL_HOST: ${LOCAL_HOST-localhost}
      LOCAL_PORT: ${LOCAL_PORT-2000}
      LOCAL_PATH: ${LOCAL_PATH-/}
      PROXY_SECURE: ${PROXY_SECURE-true}
      PROXY_HOST: ${PROXY_HOST-}
      PROXY_PORT: ${PROXY_PORT-}
      PROXY_PATH: ${PROXY_PATH-}
      SPRITE_SOURCE: ${SPRITE_SOURCE-https://tactics.taorankings.com/sprites/}
      SOUND_SOURCE: ${SOUND_SOURCE-https://tactics.taorankings.com/sounds/}
      VOLUME_SCALE: ${VOLUME_SCALE-0.5}
      CONNECTION_TIMEOUT: ${CONNECTION_TIMEOUT-15000}

      # DynamoDB Configuration
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID-LOCALDUMMYID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY-LOCALDUMMYKEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION-us-east-1}
      DDB_ENDPOINT: ${DDB_ENDPOINT-http://dynamodb-local:8000}
      DDB_TABLE: ${DDB_TABLE-tactics}
      READONLY: ${READONLY-}

      # SSO Configuration
      DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID-}
      DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET-}
      DISCORD_GUILD_ID: ${DISCORD_GUILD_ID-}
      FACEBOOK_CLIENT_ID: ${FACEBOOK_CLIENT_ID-}
      FACEBOOK_CLIENT_SECRET: ${FACEBOOK_CLIENT_SECRET-}
    depends_on:
      - dynamodb-local
    command: ./start.sh
