.modal.avatarPicker {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 720px;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
    }

    LABEL {
      display: block;
      padding: 2px;
    }

    .avatar {
      position: relative;
      cursor: pointer;

      &:not(.selected) {
        order: 1;
      }

      LABEL {
        position: absolute;
        z-index: 1;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
      }

      .image {
        position: relative;
        margin-top: 94px;
        margin-bottom: 28px;

        IMG {
          position: absolute;
        }
      }

      &:hover .image IMG {
        filter: brightness(1.5);
      }
    }
  }
}
