.modal.fork {
  max-width: 400px;

  .content {
    padding: 10px 16px 0;

    UL {
      list-style: none;
      margin-left: 12px;
      padding: 0;
    }

    & > DIV {
      padding-bottom: 10px;
    }
    .buttons {
      text-align: right;

      BUTTON {
        margin-left: 8px;
      }
    }
  }
}
