.modal.playerInfo {
  .playerName:not(.bronze) {
    font-style: italic;
  }

  .relationshipName .inputTextAutosave {
    width: 100%;

    .icons {
      & > .fa {
        cursor: pointer;
      }
      .friended.active {
        color: #00FF00;
      }
      .muted.active, .blocked.active {
        color: #FF0000;
      }
    }
  }

  .fa.fa-info {
    vertical-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    border: 1px solid #00FFFF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #00FFFF;
    cursor: pointer;
    font-size: 7px;
    transform: translateY(-22%);
  }

  .fa.fa-info:hover {
    border-color: #CCFFFF;
    color: #CCFFFF;
  }
  .player.bronze {
    display: inline-block;
    background-image: linear-gradient(to right, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 94%, black 102%);
    margin: 6px 8px 0 0;
    border-radius: 10px 0 0 10px;
    padding: 1px 16px 1px 2px;

    .count {
      display: inline-block;
      background: rgba(255, 255, 255, 0.75);
      color: black;
      margin-right: 8px;
      border-radius: 16px;
      min-width: 12px;
      padding: 0 4px;
      line-height: 16px;
      text-align: center;
    }
    .name {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }

  .content BUTTON {
    &.hide {
      display: none;
    }

    &[name=clearStats], &[name=clearStyleStats] {
      font-style: italic;
      margin: 4px 0 0;
      padding: 2px 6px;
      line-height: 16px;
      background: none;
      border-width: 1px;
    }
  }

  .content > DIV {
    &:not(.controls) {
      margin-bottom: 8px;
    }

    &.wld > DIV {
      display: inline-block;
      margin: 8px 12px 0 0;

      .label {
        padding-right: 8px;
        vertical-align: top;
      }
    }

    .indent {
      margin-left: 16px;
    }
    &.controls {
      margin-top: 16px;
      text-align: right;
    }
  }

  .all-ratings-link {
    color: #00FFFF;
    cursor: pointer;
    font-size: 11px;
    margin-left: 10px;
    font-style: italic;
  }
}
