.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a4a39b;
  width: 100%;
  max-width: 350px;

  &__errors {
    margin-bottom: 1rem;
    max-width: 191px;
    margin-left: auto;
    width: 100%;
    text-align: center;

    &-error {
      margin-bottom: .5rem;
      color: #ff0000;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .65em;

    label {
      flex: 1;
      text-align: right;
      margin-right: .65em;
      font-size: 1.2em;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    max-width: 191px;
    width: 100%;
    margin-left: auto;

    button {
      border: 1px solid #ada99c;
      background: linear-gradient(90deg, #8a8370, #695a41, #87816b);
      color: #d6c6a5;
      font-size: 1em;
      padding: .2em .62em;
      cursor: pointer;
      white-space: nowrap;
      flex: 1;

      &:hover {
        background: linear-gradient(90deg, #695a41, #8a8370, #695a41);
      }

      &:first-child {
        margin-right: .65em;
      }
    }
  }
}
