.Game {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;

  &__chat {
    width: 80%;
  }

  &__occupancy {
    width: 20%;
    margin-left: 20px;
  }
}
