.MessageList {
  height: 220px;
  overflow: auto;
  font-size: 0.8rem;

  // Hide scrollbar visibility but keep function
  &::-webkit-scrollbar {
    display: none;
  }

  &__message {
    padding: 0.25em 0;

    &--command {
      color: #40adff;
    }
  }
}
