.OccupancyList {
  &__Occupant {
    margin-bottom: 10px;
  }

  height: 200px;
  font-size: 14px;
  text-align: center;

  border-color: #262626;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 15px;
  padding: 20px 5px;
}