.colorPicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;

  width: 68px;

  .colorOption {
    position: relative;
    box-sizing: content-box;
    margin: 2px;
    border: 0 none;
    border-radius: unset;
    padding: 1px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: none;

    /*
     * The purpose of the .image element is to simulate a border using the
     * background-color of the .colorOption element.  The reason we can't just
     * add a border to the .colorOption element is due to an apparent bug in
     * Chrome where extra space appears between the border and the clipped
     * gradient image in the pseudo element.  This extra space only appeared on
     * Android and zoomed viewports on Windows.
     */
    .image {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &::before {
        position: absolute;
        top: 0;
        left: -4.75px;
        width: 20px;
        height: 20px;

        content: "";
      }
    }

    &[data-value=Blue] {
      background-color: #24364f;
      &:hover { background-color: #6ba1ed; }
      .image::before { background-image: radial-gradient(at 0 0, #b2ffff, #243751 65.49019607843137%, #476b9e) };
    }
    &[data-value=Teal] {
      background-color: #0a4d4d;
      &:hover { background-color: #1ee6e6; }
      .image::before { background-image: radial-gradient(at 0 0, #33ffff, #0a4e4e 65.49019607843137%, #149999) };
    }
    &[data-value=Green] {
      background-color: #384a24;
      &:hover { background-color: #ade6b9; }
      .image::before { background-image: radial-gradient(at 0 0, #ffffb2, #394b24 65.49019607843137%, #709447) };
    }
    &[data-value=Orange] {
      background-color: #653d01;
      &:hover { background-color: #ffb702; }
      .image::before { background-image: radial-gradient(at 0 0, #ffff03, #673e01 65.49019607843137%, #cb7a01) };
    }
    &[data-value=Brown] {
      background-color: #36291f;
      &:hover { background-color: #a17b5c; }
      .image::before { background-image: radial-gradient(at 0 0, #ffcc99, #372a1f 65.49019607843137%, #6b523d) };
    }
    &[data-value=Yellow] {
      background-color: #655e24;
      &:hover { background-color: #ffff6b; }
      .image::before { background-image: radial-gradient(at 0 0, #ffffb2, #676024 65.49019607843137%, #cbbd47) };
    }
    &[data-value=Red] {
      background-color: #4d1a17;
      &:hover { background-color: #e64d45; }
      .image::before { background-image: radial-gradient(at 0 0, #ff8073, #4e1a17 65.49019607843137%, #99332e) };
    }
    &[data-value=Pink] {
      background-color: #654042;
      &:hover { background-color: #ffbfc7; }
      .image::before { background-image: radial-gradient(at 0 0, #ffffff, #674144 65.49019607843137%, #cb8085) };
    }
    &[data-value=Purple] {
      background-color: #383045;
      &:hover { background-color: #a91cf9; }
      .image::before { background-image: radial-gradient(at 0 0, #fff2ff, #393146 65.49019607843137%, #70618a) };
    }
    &[data-value=Black] {
      background-color: #333333;
      &:hover { background-color: #999999; }
      .image::before { background-image: radial-gradient(at 0 0, #ffffff, #343434 65.49019607843137%, #666666) };
    }
    &[data-value=White] {
      background-color: #656565;
      &:hover { background-color: #ffffff; }
      .image::before { background-image: radial-gradient(at 0 0, #ffffff, #676767 65.49019607843137%, #cbcbcb) };
    }

    &.selected {
      margin: 1px;
      background-color: #FFCC00 !important;
      padding: 2px;
      cursor: default;
    }
  }
}
