.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  border: 1px solid #AA9977;
  border-radius: 4px;
  max-width: calc(100% - 16px);
  max-height: calc(100% - 16px);

  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 6px 8px 10px #000;

  HEADER {
    display: flex;
    flex-direction: row;

    margin: 0;

    background-image: linear-gradient(to right, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 90%);
    color: white;
    font-weight: unset;
    font-style: unset;
    font-size: unset;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    .title {
      flex: 1 1 auto;
      padding: 4px 8px;
    }

    .buttons {
      flex: 0 0 auto;

      BUTTON {
        margin-right: 4px;
        border: 0 solid white;
        width: 26px;
        height: 26px;

        background-image: none;
        background-color: transparent;
        color: inherit;
      }
      BUTTON:focus, BUTTON:hover {
        border-width: 1px;
        color: white;
      }
      BUTTON:focus-visible {
        outline: none;
      }
    }
  }

  .content {
    flex: 1 1 auto;
    padding: 16px;
    overflow: auto;
  }

  &:focus-visible {
    outline: none;
  }
}
