.overlay {
  display: none; /* flex */
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  .modal {
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 6px 8px 10px #000;
    max-width: 90%;
    border: 1px solid #AA9977;
    border-radius: 4px;

    .title {
      background: linear-gradient(to right, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 90%);
      padding: 4px;

      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .content {
      padding: 16px;
    }
  }

  &.show {
    display: flex;
  }
}
