.popup {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  margin: 16px;
  border: 1px solid #AA9977;
  border-radius: 4px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);

  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 6px 8px 10px #000;

  .title {
    background: linear-gradient(to right, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 90%);
    padding: 4px 8px;

    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .message {
    padding: 12px 8px;
    overflow: hidden auto;
  }

  .buttons {
    padding: 4px 8px 12px;
    text-align: center;

    BUTTON {
      margin: 8px 4px 0;
      width: max-content;
      min-width: 5em;

      -webkit-tap-highlight-color: transparent;
    }
  }
  .buttons:empty {
    display: none;
  }
}
