.view.searchSetGames {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  padding: 8px;

  .sets {
    display: grid;
    grid-template-columns: auto auto;

    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding-left: 96px;

    SELECT[name=result] {
      position: absolute;
      left: calc(96px + (100% - 96px) / 2);
      bottom: 4px;
      transform: translateX(-50%);
      z-index: 1;
    }
    SELECT {
      -webkit-appearance: none; /* for Chrome, Safari, Opera */
      -moz-appearance: none;    /* for Firefox */
      appearance: none;         /* standard property */
      background-color: transparent;
      color: #b08d57;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      font-weight: bold;
      font-style: italic;
      font-size: 1.2em;
      text-align: center;
      width: 82px;
      margin: 0;
      border: 0 none;
      padding: 0;
      flex-grow: 0;
      cursor: pointer;

      // Cool site: https://www.svgviewer.dev/svg-to-data-uri
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2212%22%20viewBox%3D%22-2%200%2016%2012%22%3E%3Cpath%20%20%20%20style%3D%22filter%3A%20drop-shadow(1px%201px%200px%20black)%20drop-shadow(-1px%20-1px%200px%20black)%20drop-shadow(1px%20-1px%200px%20black)%20drop-shadow(-1px%201px%200px%20black)%22%20%20%20%20fill%3D%22%23b08d57%22%20%20%20%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C0%2C0%2C0-1.414Z%22%20%20%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right 2px center; /* Position the arrow */
      background-size: 1 auto; /* Size the arrow */
    }
    SELECT:hover, SELECT:focus {
      outline: 1px solid #b08d57;
    }
    SELECT OPTION {
      background-color: black;
      color: #b08d57;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .message {
    padding: 0 8px;
  }
  .message:empty {
    display: none;
  }

  .game-list {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .game-list:empty {
    display: none;
  }

  .footer {
    padding: 8px;
    font-size: 120%;
    text-align: center;
  }
  .footer:empty {
    display: none;
  }
}

/*
 * Very Narrow Layout
 */
@media (max-width: 563px) {
  .view.searchSetGames {
    .sets {
      padding-left: 0;

      SELECT[name=result] {
        left: 50%;
      }
    }
  }
}
