.view.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: calc(100% - 16px);

  .field {
    position: relative;
    height: calc(100% - 38px);
    max-width: 100%;
    // let the field shrink despite large canvas
    overflow: hidden;

    CANVAS {
      display: block;
      user-select: none;
    }

    .card {
      position: absolute;
      top: 0;
      left: 0;
      // Only present to fix a bug in Edge.
      width: 176px;

      // The card must show above the board when they overlap.
      z-index: 1;

      background: #000000;
      border-radius: 16px;
      box-shadow: 4px 4px 12px #444444;
      padding: 0 0 4px 0;

      // Fade out the card, somewhat slowly.
      transition: opacity 600ms linear;
      opacity: 0;
      pointer-events: none;

      &.show {
        // Fade in the card, somewhat quickly.
        transition: opacity 400ms linear;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 8px;
    border-top: 2px solid #444444;
    padding: 1px 4px;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    .back {
      text-align: left;
      -webkit-tap-highlight-color: transparent;
    }
    .title {
      text-align: center;
      font-style: italic;
    }
    .buttons {
      text-align: right;
      padding: 2px 0;

      BUTTON {
        padding: 2px 8px;
      }
    }
  }
}

@media (max-width: 835px) and (max-aspect-ratio: 2/3), (max-width: 440px) {
  .view.setup {
    .field {
      // No longer place the card in the top-left corner of #field.
      // Rather, horizontally center the card at the top of #field.
      .card {
        position: relative;
        top: auto;
        box-shadow: 0 0 12px #888888;
        margin: 6px auto 12px;
      }
    }
  }
}

@media (max-width: 812px) and (min-aspect-ratio: 5/3) {
  .view.setup {
    width: 100%;

    .field {
      width: 100%;

      .board {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 660px) and (min-aspect-ratio: 5/3) {
  .view.setup {
    height: 100%;
  }
}
