.view.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: calc(100% - 16px);

  .field {
    position: relative;
    height: calc(100% - 38px);
    max-width: 100%;
    // let the field shrink despite large canvas
    overflow: hidden;

    CANVAS {
      display: block;
    }
  }

  .menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 8px;
    border-top: 2px solid #444444;
    padding: 1px 4px;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    .back {
      text-align: left;
      -webkit-tap-highlight-color: transparent;
    }
    .title {
      text-align: center;
      font-style: italic;
    }
    .buttons {
      text-align: right;
      padding: 2px 0;

      BUTTON {
        padding: 2px 8px;
      }
    }
  }
}

@media (max-width: 510px) and (min-aspect-ratio: 5/3) {
  .view.setup {
    width: 100%;
  }
}

@media (max-width: 660px) and (min-aspect-ratio: 5/3) {
  .view.setup {
    height: 100%;
  }
}
