.component.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .wheel {
    color: transparent;
    font-size: 48px;
    transform: scale(4);
  }
  .wheel .fa {
    background-image: radial-gradient(rgba(80, 128, 0, 0) 47%, #804a00 52%, 55%, #b08d57 57.5%, 60%, #804a00 63%, rgba(80, 128, 0, 0) 66%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    border-radius: 50%;
    padding-left: 20px;
    width: 160px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    box-shadow: 0 0 5px 10px #000;
    color: #b08d57;
    font-size: 1.5em;
    font-weight: bold;
    text-indent: -20px;
  }

  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 250ms;

  &.hide {
    display: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }
  &.fixed {
    position: fixed;
  }
}
