.view.viewSet {
  position: relative;
  overflow: visible;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .right {
      display: flex;
      flex-direction: row;
      text-align: right;
    }

    BUTTON.fa {
      display: block; /* collapse whitespace */
      flex: 0 0 auto;

      box-sizing: content-box;
      margin: 3px;
      border: 0 solid #DED8D5;
      padding: 0;
      width: 34px;
      height: 34px;

      background: none no-repeat center transparent;
      color: #b08d57;
      font-size: 18px;
      line-height: 34px;
      text-align: center;
      -webkit-tap-highlight-color: transparent;

      &:focus {
        margin: 2px;
        color: #DED8D5;
        outline: 0 none;
        border-color: #DED8D5;
        border-width: 1px;
      }
      &.alert:not(:disabled) {
        color: #FF0000;
        border-color: #FF0000;
      }
    }

    BUTTON[name=copy] {
      padding: 2px 8px;
    }
  }

  .set {
    position: relative;

    .details {
      position: absolute;

      .name {
        font-style: italic;
        font-weight: bold;
        color: #b08d57;
      }
      & > :not(.name) {
        font-size: 85%;
        color: #ddd;
      }
    }
    &.rotation-N .details { bottom:10%; right:5%; text-align:right; display:flex; flex-direction:column-reverse; }
    &.rotation-S .details { top:10%; left:5%; }
    &.rotation-E .details { bottom:10%; left:5%; text-align:left; display:flex; flex-direction:column-reverse; }
    &.rotation-W .details { top:10%; right:5%; text-align:right; }
    
    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      padding-bottom: 67%;
      width: 100%;
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 32px;

    .container {
      display: contents;

      .tag {
        border: 2px solid #804a00;
        border-radius: 1em;

        .type {
          background-color: #804a00;
          border-top-left-radius: 1em;
          border-bottom-left-radius: 1em;
          padding: 2px 6px;
        }
        .name {
          border-top-right-radius: 1em;
          border-bottom-right-radius: 1em;
          padding: 2px 6px 2px 4px;
        }
      }
    }
  }
}

.popup.viewSet-search {
  .buttons {
    display: flex;
    flex-direction: column;

    BUTTON {
      width: 180px;
    }
  }
}

@media (hover:hover) {
  .view.viewSet .header BUTTON.fa:hover {
    margin: 2px;
    border-width: 1px;
    color: #DED8D5;
    border-color: #DED8D5;
  }
}
