

/*
 * General Look & Feel for the app.
 */
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 100%;
  height: 100%;
  max-width: 836px;
  max-height: 552px;

  position: absolute;
  visibility: hidden;
  &.show {
    position: relative;
    visibility: visible;
  }

  #game {
    position: relative;
    height: 100%;
    max-height: 552px;

    #field {
      display: flex;
      position: relative;
      height: 100%;

      CANVAS {
        display: block;
        padding: 0;
        user-select: none;
      }

      #card {
        position: absolute;
        top: 20px;
        left: 0;
        // Only present to fix a bug in Edge.
        width: 176px;

        // The card must show above the board when they overlap.
        z-index: 1;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;

        // Fade out the card, somewhat slowly.
        transition: opacity 600ms linear;
        opacity: 0;
        &.show {
          // Fade in the card, somewhat quickly.
          transition: opacity 400ms linear;
          opacity: 1;
        }
      }

      #board {
        margin: auto;
      }

      .player {
        display: none;
      }
      .player.active {
        display: flex;
        position: absolute;
        min-width: 200px;
        height: 20px;
        box-sizing: border-box;
        padding: 0 24px;
        line-height: 20px;

        .status {
          position: absolute;
          top: 2px;
          width: 16px;
          height: 16px;
          border-radius: 50%;

          // offline color
          background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.2) 25%, rgba(0,0,0,0.8));
        }
        &.ingame .status {
          background: radial-gradient(circle at 50% 50%, rgba(0, 255, 0, 0.8) 25%, rgba(0,0,0,0.8));
        }
        &.online .status {
          background: radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.8) 25%, rgba(0,0,0,0.8));
        }

        .fa-spinner {
          display: none;
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          border-radius: 50%;

          background-color: black;
          text-align: center;
        }
        &.unavailable .fa-spinner {
          display: block;
        }

        &.left {
          flex-direction: row;
          left: 0;
          border-radius: 10px 0 0 10px;

          .status {
            left: 3px;
          }
          .fa-spinner {
            left: 0;
          }

          .clock, .name {
            margin-right: 8px;
          }

          &:after {
            position: absolute;
            top: 2px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 20px 8px 0;
            border-color: transparent black transparent transparent;
            content: " ";
          }

          &.bronze {
            background-image: linear-gradient(to right, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 90%, black 102%);
          }
        }
        &.right {
          flex-direction: row-reverse;
          right: 0;
          border-radius: 0 10px 10px 0;

          .status {
            right: 3px;
          }
          .fa-spinner {
            right: 0;
          }

          .clock, .name {
            margin-left: 8px;
          }

          &:after {
            position: absolute;
            top: 2px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 20px;
            border-color: transparent transparent transparent black;
            content: " ";
          }

          &.bronze {
            background-image: linear-gradient(to left, #804a00 10%, 40%, #b08d57 60%, 80%, #804a00 90%, black 102%);
          }
        }
      }
      #player-n {
        top: 0;
      }
      #player-e {
        top: 0;
      }
      #player-s {
        bottom: 0;
      }
      #player-w {
        bottom: 0;
      }

      .name {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }

      .clock {
        background-color: rgba(255, 255, 255, 0.75);
        color: black;
        font-weight: bold;
        border-radius: 16px;
        padding: 0 8px;
      }
      .clock.short, .clock.expired {
        color: red;
        animation: blinker 1.1s linear infinite;
      }
      .clock:empty {
        display: none;
      }
    }

    #game-play {
      top: 20px;
    }
    #game-settings {
      bottom: 16px;
    }
    .buttons {
      display: flex;
      flex-direction: row;

      position: absolute;
      right: 0;

      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0;
      padding: 6px;

      background-color: transparent;
      font-size: 18px;
      text-align: left;

      BUTTON {
        display: block; /* collapse whitespace */
        flex: 0 0 auto;

        box-sizing: content-box;
        margin: 3px;
        border: 0 solid #DED8D5;
        padding: 0;
        width: 34px;
        height: 34px;

        background: none no-repeat center transparent;
        color: #DED8D5;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        vertical-align: bottom;  /* removes bottom spacing */
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
      }
      BUTTON.fa.ready {
        border-radius: 20px;
      }
      BUTTON:focus {
        outline: none;
      }
      BUTTON.selected {
        margin: 1px;
        border-width: 2px;
        cursor: default;
      }
      BUTTON[disabled] {
        opacity: 0.4;
        cursor: default;
      }

      BUTTON[name=chat] {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          width: 16px;
          height: 16px;
          font-family: 'Open Sans';
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          content: attr(badge);
        }
      }
    }
  }

  #chat {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;

    flex: 0 0 auto;
    padding: 8px;
    background-color: black;

    #messages {
      display: flex;
      flex-direction: column;

      overflow: auto;
      scrollbar-width: thin; /* Firefox only */
      scrollbar-color: #666666; /* Firefox only */

      .message {
        line-height: 18px;
        word-break: break-word;

        .player {
          color: #b08d57;
          font-weight: bold;

          &::after {
            content: ':';
          }
        }
        .content {
          white-space: pre-wrap;
        }
      }
    }

    .new-message {
      box-sizing: border-box;
      border: 0 none;
      border-left: 1px solid #b08d57;
      margin-top: 4px;
      padding: 4px;
      width: 100%;

      background-color: transparent;
      color: inherit;
      flex: 0 0 auto;
      line-height: 18px;
    }
    .new-message:focus {
      outline: #b08d57 auto 1px;
    }
    .new-message::placeholder {
      padding-left: 4px;
      color: #b08d57;
      font-weight: bold;
      opacity: 1; // Override Firefox default
      font-style: italic;
    }
    .new-message:focus::placeholder {
      opacity: 0;
    }
  }

  &.chat-opening, &.chat-open, &.chat-closing {
    #chat { justify-content: flex-end }
  }
}

#app.for-playing.with-popupChat {
  #chat {
    top: 100%;
    left: 0;
    height: calc(100% - 20px - 52px);

    border: 1px solid #804a00;
    border-bottom: 0 none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    z-index: 20;
  }

  &.chat-opening,
  &.chat-closing {
    #chat {
      transition: top 400ms linear;
    }
  }

  &.chat-opening,
  &.chat-open {
    #chat {
      top: calc(20px + 52px);
    }
  }
  &.chat-closing {
    #chat {
      top: 100%;
    }
  }
}
#app.for-playing.with-inlineChat {
  max-height: 658px;

  #game {
    height: calc(100% - 106px);
  }

  #chat {
    bottom: 0;
  }

  &:not(.chat-opening):not(.chat-open) {
    #chat {
      height: 106px;

      .new-message {
        position: absolute;
        // use 'bottom' so box increases in height upward, not downward.
        bottom: 142px;
        left: 8px;
        width: 200px;
      }
    }
  }

  &.chat-opening,
  &.chat-closing {
    #chat {
      transition: height 400ms linear;
    }
  }

  &.chat-opening,
  &.chat-open {
    #chat {
      height: calc(100% - 20px - 52px);
      border: 1px solid #804a00;
      border-bottom: 0 none;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  &.chat-closing {
    #chat {
      height: 106px;
    }
  }
}

#app:not(.for-playing) {
  #game {
    BUTTON[name=chat] {
      display: none;
    }
  }

  #chat {
    display: none;
  }
}

@media (hover:hover) {
  #app #game > .buttons BUTTON:not(.selected):enabled:hover {
    margin: 2px;
    border-width: 1px;
  }
}

/*
 * Sometimes buttons need to be disabled or hidden.
 */
#app.for-viewing #game > .buttons {
  BUTTON[name=pass],
  BUTTON[name=surrender] {
    // Make the button appear disabled.
    opacity: 0.4;
    cursor: default;

    // Override use of borders for .selected and hovered buttons
    margin: 3px !important;
    border-width: 0 !important;
  }

  BUTTON[name=undo] {
    display: none;
  }
}

#app.locked:not(.gameover):not(.readonly) {
  #game-play.buttons BUTTON:not([name=chat]):not([name=swapbar]),
  #game-settings.buttons BUTTON[name=rotate],
  #game-settings.buttons BUTTON[name=undo] {
    // Make the button appear disabled.
    opacity: 0.4;
    cursor: default;

    // Override use of borders for .selected and hovered buttons
    margin: 3px;
    border-width: 0;
  }
}

#app.locked.gameover {
  #game-play.buttons BUTTON[name=pass],
  #game-play.buttons BUTTON[name=surrender],
  #game-play.buttons BUTTON[name=undo] {
    // Make the button appear disabled.
    opacity: 0.4;
    cursor: default;

    // Override use of borders for .selected and hovered buttons
    margin: 3px;
    border-width: 0;
  }
}

#app #game > .buttons BUTTON[name=swapbar],
.mouse #app #game > .buttons BUTTON[name=lock],
#app #game > .buttons BUTTON.hidden {
  display: none;
}

/*
 * Customize the look of game-play buttons.
 */
#app #game > .buttons {
  BUTTON[name=select][value=move] {
    background-image: url('https://legacy.taorankings.com/images/move.png');
    border-color: #0088FF;
  }
  BUTTON[name=select][value=attack] {
    background-image: url('https://legacy.taorankings.com/images/attack.png');
    border-color: #FF8800;
  }
  BUTTON[name=select][value=attack].targeting {
    border-color: #FF3300;
    cursor: pointer;
  }
  BUTTON[name=select][value=turn] {
    background-image: url('https://legacy.taorankings.com/images/turn.png');
    border-color: #FFE991;
  }
  BUTTON[name=pass] {
    background-image: url('https://legacy.taorankings.com/images/pass.png');
  }
  BUTTON[name=surrender] {
    background-image: url('https://legacy.taorankings.com/images/surrender.png');
    border-color: #FFFFFF;
  }
}

@keyframes glow {
  0%   { box-shadow: none;                     }
  50%  { box-shadow: 0px 0px 14px 4px #FFFFFF; }
  100% { box-shadow: none;                     }
}

#app.locked.gameover #game > .buttons BUTTON[name=surrender].ready,
#app.locked #game > .buttons BUTTON[name=chat].ready,
#app:not(.locked) #game > .buttons BUTTON.ready {
  animation: glow ease-in-out 1s infinite;

  /* Intended to override locked surrender button */
  cursor: pointer !important;
  opacity: 1 !important;
}

.mouse .buttons BUTTON[name=lock] {
  display: none;
}

/*
 * Portrait Layout
 *   Useful when narrow width causes the board and info card to overlap.
 *   Useful when excess vertical space is available.
 *   Required when card and buttons overlap (width < 440px).
 *
 * Buttons are placed low for easier thumb manipulation on phones.
 */
@media (max-width: 835px) and (max-aspect-ratio: 2/3), (max-width: 440px) {
  #app {
    height: auto;

    #game {
      // Stack 'em vertically
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;

      height: auto;

      #field {
        flex-direction: column;

        #player-n, #player-e {
          top: 100px;
        }

        .player.active {
          // Conserve space
          min-width: 180px;
        }

        // No longer place the card in the top-left corner of #field.
        // Rather, horizontally center the card at the top of #field.
        #card {
          position: relative;
          top: auto;
          margin: 0 auto;
        }

        // No longer center the board within the #field.
        // Rather, it will be placed under the info card.
        #board {
          // Give sufficient margin to accommodate player banners
          margin: 6px 0 24px 0;
        }
      }

      // The chat and swapbar button are aligned to the right
      #game-play {
        top: auto;

        BUTTON[name=surrender] {
          margin-right: auto !important;
        }
      }
      #game-settings {
        bottom: auto;

        BUTTON[name=swapbar] {
          margin-left: auto !important;
        }
      }

      // No longer place the buttons in the top-right corner of #app.
      // Rather, it will be placed under the #field.
      .buttons {
        // Don't show chat behind the buttons.
        background-color: black;
        z-index: 30;

        position: relative;
        padding: 6px;

        display: none;
        overflow-y: hidden;
        overflow-x: auto;

        BUTTON {
          flex: 0 0 auto;
        }
        BUTTON[name=chat] {
          order: 10;
        }
        BUTTON[name=swapbar] {
          display: inline-block;
          order: 11;
        }
      }
      .buttons.active {
        display: flex;
      }
    }

    #chat {
      border: 0 none !important;
      padding-top: 0;
    }
  }

  #app.for-playing.with-inlineChat {
    justify-content: flex-end;

    height: 100%;
    // No longer need a max-height on the #app.
    max-height: none;
    // Don't show the chat below the app.
    overflow: hidden;

    #game {
      height: auto;

      #field { height:auto }
    }
    #chat {
      position: relative;
      bottom: auto;
    }

    &:not(.chat-opening):not(.chat-open) {
      #chat {
        height: 98px;

        .new-message {
          display: none;
        }
      }
    }

    &.chat-opening,
    &.chat-open {
      #chat {
        height: calc(100% - 52px);
      }
    }
    &.chat-closing {
      #chat {
        height: 98px;

        .new-message {
          display: none;
        }
      }
    }
  }

  #app.for-playing.with-popupChat {
    position: absolute !important;
    top: 0;
    height: 200%;
    max-height: none;

    #game {
      height: 50% !important;
    }
    #chat {
      top: calc(50% + 52px) !important;
      height: calc(50% - 52px) !important;
    }

    &.chat-opening,
    &.chat-closing {
      // Slide the chat window from the bottom
      transition: top 300ms linear;
    }

    &.chat-opening,
    &.chat-open {
      top: -100%;
    }
    &.chat-closing {
      top: 0;
    }
  }
}

/*
 * Landscape Layout
 *   Useful when narrow height causes the board and info card to overlap.
 *   Useful when excess horizontal space is available.
 *
 * Buttons are placed on left/right edge for easier thumb manipulation on phones.
 */
@media (max-width: 812px) and (min-aspect-ratio: 5/3) {
  #app {
    #game {
      width: 100%;

      #field {
        position: absolute;
        top: 0;
        // Override 100% width by excluding the width of the button bar.
        width: calc(100% - 52px);

        // Avoid card overlap by moving board flush to the right.
        #board {
          margin: auto 0 auto auto;
        }
      }

      #game-play {
        BUTTON[name=surrender] {
          // If only I can set a minimum 3px margin...
          margin-bottom: auto !important;
        }
      }
      #game-settings {
        BUTTON[name=swapbar] {
          margin-top: auto !important;
        }
      }

      .buttons {
        position: fixed;
        top: 0 !important;
        width: 52px;
        height: 100%;
        margin: 0;

        display: none;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        // The chat and swapbar buttons are aligned to the bottom
        BUTTON[name=chat] {
          order: 10;
        }
        BUTTON[name=swapbar] {
          display: inline-block;
          order: 11;
        }
      }
      .buttons.active {
        display: flex;
      }
    }

    #chat {
      width: calc(100% - 46px);
      margin: 0;
      border: 0 none !important;
    }
    &.chat-input-mode {
      #game .buttons { display:none }
      #chat { width:100% }
    }
  }

  #app.for-playing.with-popupChat {
    position: absolute !important;
    top: 0;
    height: 200%;
    max-height: none;

    #game, #chat {
      height: 50% !important;
    }
    #chat {
      top: 50% !important;
    }

    &.chat-opening,
    &.chat-closing {
      // Slide the chat window from the bottom
      transition: top 300ms linear;
    }

    &.chat-opening,
    &.chat-open {
      top: -100%;
    }
    &.chat-closing {
      top: 0;
    }
  }

  #app.left {
    #game {
      #field {
        left: 0;
      }

      > .buttons {
        right: 0;
      }
    }

    #chat {
      left: 0;
    }
  }

  #app.right {
    #game {
      #field {
        right: 0;
      }

      > .buttons {
        left: 0;
      }
    }

    #chat {
      left: auto;
      right: 0;
    }
  }
}
